<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alphabeta">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlphaBeta"


        >
        <activity android:name=".A">
            <intent-filter>
                <action android:name="android.intent.action.A" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".B">
            <intent-filter>
                <action android:name="android.intent.action.B" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".C">
            <intent-filter>
                <action android:name="android.intent.action.C" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".D">
            <intent-filter>
                <action android:name="android.intent.action.D" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".E">
            <intent-filter>
                <action android:name="android.intent.action.E" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".F">
            <intent-filter>
                <action android:name="android.intent.action.F" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".G">
            <intent-filter>
                <action android:name="android.intent.action.G" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".H">
            <intent-filter>
                <action android:name="android.intent.action.H" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".I">
            <intent-filter>
                <action android:name="android.intent.action.I" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".J">
            <intent-filter>
                <action android:name="android.intent.action.J" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".K">
            <intent-filter>
                <action android:name="android.intent.action.K" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".L">
            <intent-filter>
                <action android:name="android.intent.action.L" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".M">
            <intent-filter>
                <action android:name="android.intent.action.M" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".N">
            <intent-filter>
                <action android:name="android.intent.action.N" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".O">
            <intent-filter>
                <action android:name="android.intent.action.O" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".P">
            <intent-filter>
                <action android:name="android.intent.action.P" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Rr">
            <intent-filter>
                <action android:name="android.intent.action.Rr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".S">
            <intent-filter>
                <action android:name="android.intent.action.S" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".T">
            <intent-filter>
                <action android:name="android.intent.action.T" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".U">
            <intent-filter>
                <action android:name="android.intent.action.U" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".V">
            <intent-filter>
                <action android:name="android.intent.action.V" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".W">
            <intent-filter>
                <action android:name="android.intent.action.W" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".X">
            <intent-filter>
                <action android:name="android.intent.action.X" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Y">
            <intent-filter>
                <action android:name="android.intent.action.Y" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Z">
            <intent-filter>
                <action android:name="android.intent.action.Z" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".MainMenu"></activity>
        <activity android:name=".Fruits"></activity>
        <activity android:name=".Alphabet"></activity>

        <activity android:name=".Open">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>